@using SC_MiniProject.Models;
@{
    ViewBag.Title = "ImageRecognitionTask";
    //Layout = null;
}

@*<!DOCTYPE html>
 Activates the AngularJS library ng-app="githubViewer" 
<html style="background-color: WHITE !important;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mvc project</title>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Angular/SC_MiniProjectModule.js"></script>
    <script src="~/Controllers/TaskService.js"></script>
    <script src="~/Controllers/TaskController.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>*@
    <div ng-app="SC_MiniProjectModule">
        <fieldset>
            <legend>Vad föreställer bilden?</legend>
        </fieldset>

        <div ng-controller="TaskController">
    
                <div style="display: inline-block; width:250px; height: 240px; float: left">
                    <img src="{{Questions[CurrentQuestion].ImageUrl}}" />
                </div>
                <div style="display: inline-block; width:210px; height: 240px; padding: 4px; float: left">
                    <div>
                        Fråga {{CurrentQuestion+1}} av 5 
                        <input type="text" ng-model="UserAnswer" class="form-control" style="width: 180px" />

                        <div style="display: inline-block; width:100px; height: 25px; padding: 2px; float: left; padding-top: 10px">
                            <input type="button" value="Svara" ng-click="onImageRecognitionAnswer_click()" ng-show="AnswerButtonVisible" class="btn btn-default" style="width: 80px" />
                         </div>
                        <div style="display: inline-block; width:100px; height: 25px; padding: 2px; float: left; padding-top: 10px">
                            <input type="button" value="{{NextButtonTitle}}" ng-click="onImageRecognitionNext_click()" class="btn btn-default" style="width: 80px" />
                        </div>
                    </div>
               
                    <div style="padding-top: 28px">
                        <h2 ng-bind="CorrectAnswer" style="color: Red; font-size: 16px"></h2>
                        <h2 ng-bind="Correct" style="color: green; font-size: 16px"></h2>
                    </div>
                </div>
                <div style="clear: both;"></div>


            <br />
                @Html.ActionLink("Avbryt", "Index", "Home")
        </div>
    </div>
</html>
